<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net481" />
  <package id="Microsoft.Win32.SystemEvents" version="9.0.4" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net481" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net481" />
</packages>